# Metaproxy systemd-style configuration

[Unit]
Description=Metaproxy Z39.50/SRU router
Documentation=man:metaproxy(1)
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/metaproxy/metaproxy.user
EnvironmentFile=/etc/sysconfig/metaproxy
Restart=on-abort
KillMode=process
PIDFile=/var/run/metaproxy.pid
ExecStart=/bin/sh -c "exec /usr/bin/metaproxy ${OPTIONS} -D -p /var/run/metaproxy.pid"
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=multi-user.target
