Source: metaproxy
Section: devel
Standards-Version: 3.6.2
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Priority: extra
Build-Depends: debhelper (>= 7),
	libyaz4-dev (>= 4.2.69),
	libyazpp5-dev (>= 1.4.1),
	libxslt1-dev,
	libboost-dev,
	libboost-system-dev,
	libboost-thread-dev,
	libboost-test-dev,
	libboost-regex-dev

Package: metaproxy
Section: net
Architecture: any
Depends: ${shlibs:Depends}, libmetaproxy4 (= ${Source-Version})
Conflicts: cf-engine (<= 2.12.5)
Description: Z39.50/SRU router (main executable)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This package includes the main Metaproxy executable.

Package: libmetaproxy4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Z39.50/SRU router (runtime)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This package includes the Metaproxy libraries.

Package: libmetaproxy4-dbg
Section: debug
Architecture: any
Depends: libmetaproxy4 (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for libmetaproxy4
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This package contains the debugging symbols for libmetaproxy4.

Package: libmetaproxy4-dev
Section: libdevel
Architecture: any
Depends: libmetaproxy4 (= ${Source-Version}),
	libyazpp5-dev (>= 1.4.0),
	libxslt1-dev,
	libboost-dev,
	libboost-thread-dev,
	libboost-regex-dev,
	libboost-system-dev,
	libgnutls-dev
Conflicts: libmetaproxy2-dev, libmetaproxy3-dev
Description: Z39.50/SRU router (development)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This package includes development libraries and C++ header files.

Package: metaproxy-doc
Section: doc
Architecture: all
Description: Z39.50/SRU router (documentation)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This package includes HTML documentation for Metaproxy.
