Source: metaproxy
Section: devel
Standards-Version: 3.6.2
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Priority: extra
Build-Depends: debhelper (>= 4), libyaz3-dev, libyazpp3-dev (>= 1.1.2), libxslt1-dev, libboost-dev, libboost-thread-dev, libboost-test-dev, libgnutls-dev

Package: metaproxy
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Description: Metaproxy Z39.50/SRU router (main executable)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This packages includes the main Metaproxy executable.

Package: libmetaproxy
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Metaproxy Z39.50/SRU router (main executable)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This packages includes the Metaproxy libraries.

Package: metaproxy-doc
Section: doc
Architecture: all
Description: Metaproxy Z39.50/SRU router (documentation)
 This is a universal router, proxy and encapsulated metasearcher
 for information retrieval protocols. It accepts, processes, interprets
 and redirects requests from IR clients using standard protocols such as
 the binary ANSI/NISO Z39.50  and the information search and retrieval web
 service SRU as well as functioning as a limited HTTP server. 
 .
 This packages includes HTML documentation for Metaproxy.
