#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without python-support

override_dh_auto_configure:
	dh_auto_configure -- --with-yazpp=/usr/bin --without-usemarcon

override_dh_strip:
	dh_strip --dbg-package=libmetaproxy5-dbg

override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/share/doc/metaproxy debian/tmp/usr/share/doc/metaproxy-doc
	mkdir -p debian/tmp/etc/metaproxy
	cp debian/metaproxy.xml debian/tmp/etc/metaproxy/metaproxy.xml
	cp rpm/metaproxy.user debian/tmp/etc/metaproxy/metaproxy.user

override_dh_makeshlibs:
	dh_makeshlibs -V 'libmetaproxy5 (>= 1.3.28)'

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_installdocs:
	dh_installdocs -A README
