.libs
.deps
*.lo
*.la
stamp-h*
config.hpp
socket
Jamfile
Makefile
Makefile.in
config.hpp.in
ex_filter_frontend_net
ex_router_flexml
test_boost_threads
test_boost_time
test_filter_auth_simple
test_filter1
test_filter2
test_filter_frontend_net
test_filter_log
test_filter_multi
test_filter_query_rewrite
test_package1
test_pipe
test_thread_pool_observer
test_session1
test_session2
test_filter_factory
test_filter_z3950_client
test_filter_backend_test
test_filter_virt_db
test_router_flexml
test_ses_map
tstdl
metaproxy
test_filter_bounce
test_filter_record_transform
test_filter_sru_to_z3950
*.o
